@charset "UTF-8";
/* variable couleur*/
/*backgroung location sur la palette (234,234,234)*/
/*backgroung recherche et restaurants sur la palette (246,246,246)*/
/*backgroung Footer*/
/*pour partie déguster ... */
/*pour partie nouveay ... */
/*loader*/
.section {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: rgba(141, 155, 155, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disparution 2s forwards;
}

@keyframes disparution {
  0% {
    opacity: 1;
    display: block;
  }
  95% {
    opacity: 1;
    display: block;
    z-index: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.loader-ring {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}

.loader-ring:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #00F;
  border-right-color: #fff;
  border-bottom-color: #f00;
  animation: spin 2s linear 0s 3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* FIN Loaders */
@keyframes replissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Font Roboto  */
* {
  font-family: Roboto, serif;
}

header h1 {
  font-family: Shrikhand, serif;
  text-align: center;
}

.location {
  background-color: rgb(234, 234, 234);
  text-align: center;
  padding: 20px;
  /*replace border by shadow*/
  box-shadow: 0px 5px 10px gainsboro inset;
}
.location i {
  margin: 10px;
}

.recherche {
  text-align: center;
  background-color: rgb(246, 246, 246);
  padding: 30px;
  /*
  button{
      padding: 20px;
      border-radius: 40px;
      border: none;
      background-color: $couleur-primaire;
      box-shadow: 10px 10px 10px gainsboro;
      color: white;
      &:hover{
          background-color: $couleur-secondaire;
      }
  }
  */
}
.recherche .boutton {
  display: flex;
  justify-content: center;
}
.recherche .boutton button {
  padding: 20px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(#9356DC, #FF79DA);
  opacity: 0.8;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 1s;
  width: 66%;
}
.recherche .boutton button:hover {
  box-shadow: 10px 5px 5px rgb(53, 53, 53);
  background: linear-gradient(#9356DC, #FF79DA);
  opacity: 1;
}

.fonctionnement {
  background-color: white;
  padding: 30px;
}
.fonctionnement .etapes .etape {
  background-color: rgb(246, 246, 246);
  font-weight: bold;
  box-shadow: 5px 5px 10px gainsboro;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fonctionnement .etapes .etape:nth-child(4) {
  background-color: rgb(245, 237, 255);
}
.fonctionnement .etapes .etape:nth-child(4) i {
  color: #9356DC;
}
.fonctionnement .etapes .etape i {
  width: 30px;
}
.fonctionnement .etapes .etape .nombre {
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  left: 15px;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .restaurant-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.restaurants-section {
  background-color: rgb(246, 246, 246);
  padding: 30px;
}

.restaurant {
  background-color: white;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px gainsboro;
  position: relative;
}
@media screen and (min-width: 992px) {
  .restaurant {
    width: 48%;
  }
}
.restaurant .nouveau {
  position: absolute;
  background-color: #99E2D0;
  color: rgb(0, 135, 132);
  right: 45px;
  top: 15px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant a .description {
  padding: 20px;
}
.restaurant a .nom {
  font-weight: bold;
}
.restaurant i {
  color: black;
}
.restaurant i:hover {
  background-color: #FF79DA;
}
.restaurant img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.restaurant .description {
  display: flex;
  justify-content: space-between;
}
.restaurant .description note {
  text-align: center;
}

.coeur:hover {
  -webkit-text-stroke: 1px transparent;
  animation: replissage 1s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  text-align: left;
  padding-bottom: 30px;
  margin-top: -20px; /*unwanted vertical margin between main section and footer*/
}
footer div {
  padding-left: 30px;
}
footer h2 {
  font-family: Shrikhand, serif;
  padding-top: 20px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 992px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
  }
}
footer a {
  text-decoration: none;
  color: white;
}
footer a i {
  width: 20px;
  font-size: smaller;
}
footer li {
  padding-bottom: 10px;
}

/*
@media screen and (min-width: 992px){
    .fonctionnement{
        .etapes{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & :nth-child(1){
                .nombre{
                    position:absolute;
                    left: 15px;
                }
            }

            & :nth-child(2){
                .nombre{
                    position:absolute;
                    left: 250px;
                }
            }

            & :nth-child(3){
                .nombre{
                    position:absolute;
                    left: 500px;
                }
            }
        } 
    }

}
*/

/*# sourceMappingURL=acceuil.css.map */
