/* variable couleur*/
/*backgroung location sur la palette (234,234,234)*/
/*backgroung recherche et restaurants sur la palette (246,246,246)*/
/*backgroung Footer*/
/*rotation animation*/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes replissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Font Roboto  */
* {
  font-family: Roboto, serif;
}

header h1 {
  font-family: Shrikhand, serif;
  display: flex;
  justify-content: space-between;
}
header h1 i {
  padding-left: 30px;
  color: black;
}

img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  position: absolute;
  z-index: -1;
}

main {
  margin-top: 260px;
  padding: 30px;
  background-color: rgb(234, 234, 234);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: column;
}
main h2 {
  font-family: Shrikhand, serif;
  display: flex;
  justify-content: space-between;
}
main h2 .coeur:hover {
  -webkit-text-stroke: 1px transparent;
  animation: replissage 1s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
main .souligne-part {
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
main .souligne-part:before {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  left: 0%;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 992px) {
  main .ndpi-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  main .ndpi-list a {
    width: 32%;
  }
}
main .ndpi-list .ndpi {
  display: flex;
  /*padding: 10px;*/
  margin-bottom: 10px;
  background-color: rgb(246, 246, 246);
  border-radius: 20px;
  justify-content: space-between;
}
main .ndpi-list .ndpi .ndp {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .ndpi-list .ndpi .dp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  overflow: hidden;
}
main .ndpi-list .ndpi .dp .detail {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main .ndpi-list .ndpi .nom {
  font-weight: bold;
}
main .ndpi-list .ndpi .prix {
  font-weight: bold;
}
main .ndpi-list .ndpi .choix {
  transform: translateX(-50%, -50%);
  transition: all 0.5s;
  width: 0;
}
main .ndpi-list .ndpi .choix i {
  /*padding: 10px;*/
  display: none;
  width: 50px;
  /*transform: rotate(0deg);
  transition-property: transform;*/
  /*transition-duration: 3000ms; */
  transform: rotate(0deg);
  transition: all 0.5s;
}
main .ndpi-list .ndpi:hover .choix {
  display: flex;
  width: 50px;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
  transform: translateX(0);
}
main .ndpi-list .ndpi:hover .choix i {
  animation-duration: 0.5s;
  animation-name: rotation;
  display: flex;
  color: white;
  height: 100%;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  /*transform: rotate(90deg);*/
}
main a {
  text-decoration: none;
  color: black;
}
main i {
  color: #99E2D0;
}
main .boutton {
  display: flex;
  justify-content: center;
}
main .boutton button {
  padding: 20px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(#9356DC, #FF79DA);
  opacity: 0.8;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 66%;
}
main .boutton button:hover {
  box-shadow: 10px 5px 5px rgb(53, 53, 53);
  background: linear-gradient(#9356DC, #FF79DA);
  opacity: 1;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  text-align: left;
  padding-bottom: 30px;
  margin-top: -20px; /*unwanted vertical margin between main section and footer*/
}
footer div {
  padding-left: 30px;
}
footer h2 {
  font-family: Shrikhand, serif;
  padding-top: 20px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 992px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
  }
}
footer a {
  text-decoration: none;
  color: white;
}
footer a i {
  width: 20px;
  font-size: smaller;
}
footer li {
  padding-bottom: 10px;
}

/*# sourceMappingURL=menu.css.map */
