/* variable couleur*/
$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;
$couleur_grise : rgb(234,234,234);/*backgroung location sur la palette (234,234,234)*/
$couleur_grise_claire : rgb(246, 246, 246);/*backgroung recherche et restaurants sur la palette (246,246,246)*/
$couleur_noire_claire : rgb(53, 53, 53);/*backgroung Footer*/


$font-texte : Roboto;
$font-titre : Shrikhand;
$font-defaut : serif;

/* Font Roboto  */
*{
    font-family: $font-texte , $font-defaut;
}

header{
    h1{
        font-family: $font-titre, $font-defaut;
        text-align: center;
    }
}

.location{
    background-color: $couleur_grise;
    text-align: center;
    padding: 20px;
    /*replace border by shadow*/
    box-shadow: 0px 5px 10px gainsboro inset;
    i{
        margin: 10px;
    } 
}

.recherche{
    text-align: center;
    background-color: $couleur_grise_claire;
    padding: 30px;
    button{
        padding: 20px;
        border-radius: 40px;
        border: none;
        background-color: $couleur-primaire;
        &:hover{
            background-color: $couleur-secondaire;
        }
    }

}



.fonctionnement{
    background-color: white;
    padding: 30px;
    ol{
        padding-left: 20px;
    }
}

.restaurants{
    background-color: $couleur_grise_claire;
    padding: 30px;

}

.restaurant{
    a{
        background-color: white;
        text-decoration: none;
        color: black;
        .description{
            padding: 20px;
        }
        .nom{
            font-weight: bold;
        }
    }
    i{  
        color: black;
        &:hover{
            background-color: $couleur-secondaire;
        }
    }
     
    img{
        width: 100%;
        height: 200px;
        border-radius: 30px;
        padding-top: 20px;
    }

    .description{
        display: flex;
        justify-content: space-between;
        note {
            text-align: center;
        }
    }
}



footer{
    background-color: $couleur_noire_claire;
    color: white;
    text-align:left;
    div{
        padding-left: 30px;
    }
    h2{
        font-family: $font-titre, $font-defaut;
        padding-top: 20px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: white;
    }
    li{
        padding-bottom: 10px;
    }
}
