/*normamize*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* variable couleur*/
$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;


$font-texte : Roboto;
$font-titre : Shrikhand;
$font-defaut : serif;

/* Font Roboto  */
*{
    font-family: $font-texte , $font-defaut;
}



header{
    h1{
        font-family: $font-titre, $font-defaut;
        text-align: center;
    }
}

.recherche{
    text-align: center;
}
main{
    padding: 30px;
}

.location{
    text-align: center;
}


.restaurant{
    border-radius: 10px;
    img{
        max-width: 100%;
    }
    .description{
        display: flex;
        justify-content: space-between;
        note {
            text-align: center;
        }
    }
}



footer{
    background-color: black;
    color: white;
    text-align:left;
    div{
        padding-left: 30px;
    }
    h2{
        font-family: $font-titre, $font-defaut;
        padding-top: 20px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: white;
    }
    li{
        padding-bottom: 10px;
    }
}
