/* variable couleur*/
$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;
$couleur_grise : rgb(234,234,234);/*backgroung location sur la palette (234,234,234)*/
$couleur_grise_claire : rgb(246, 246, 246);/*backgroung recherche et restaurants sur la palette (246,246,246)*/
$couleur_noire_claire : rgb(53, 53, 53);/*backgroung Footer*/
$couleur_fonctionnement : rgb(245, 237, 255);/*pour partie déguster ... */
$couleur_nouveau : rgb(0, 135, 132);/*pour partie nouveay ... */
$padding : 30px;


$font-texte : Roboto;
$font-titre : Shrikhand;
$font-defaut : serif;

/* Font Roboto  */
*{
    font-family: $font-texte , $font-defaut;
}

header{
    h1{
        font-family: $font-titre, $font-defaut;
        text-align: center;
    }
}

.location{
    background-color: $couleur_grise;
    text-align: center;
    padding: 20px;
    /*replace border by shadow*/
    box-shadow: 0px 5px 10px gainsboro inset;
    i{
        margin: 10px;
    } 
}

.recherche{
    text-align: center;
    background-color: $couleur_grise_claire;
    padding: 30px;
    button{
        padding: 20px;
        border-radius: 40px;
        border: none;
        background-color: $couleur-primaire;
        box-shadow: 10px 10px 10px gainsboro;
        color: white;
        &:hover{
            background-color: $couleur-secondaire;
        }
    }

}

.fonctionnement{
    background-color: white;
    padding: 30px;
    .etapes{
        .etape{
            background-color: $couleur_grise_claire;
            font-weight: bold;
        
            box-shadow: 5px 5px 10px gainsboro;
            border-radius: 20px;
            padding: 30px;
            margin-bottom: 20px;
            margin-left: 0px;
            &:nth-child(4){
                background-color: $couleur_fonctionnement;
                i{
                    color: $couleur-primaire;
                }
            }
                
            i{
                width: 30px;
            }
            display: flex;
            flex-direction: row;
            align-items: center;
            
            .nombre{
                background-color: $couleur-primaire;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                position: absolute;
                left: 15px;

                display: flex;
                align-content: center;
                align-items: center;
                text-align: center;
                justify-content: center;
                
            }
        }
    }
    
}

.restaurants-section{
    background-color: $couleur_grise_claire;
    padding: 30px;

}

.restaurant{
    background-color: white;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px gainsboro;
    position: relative;
    .nouveau{
        position: absolute;
        background-color: $couleur-tertiaire;
        color: $couleur_nouveau;
        right: 1.5*$padding ;
        top: 0.5*$padding;
        width : 100px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        align-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-weight: bolder;
    }

    a{
        text-decoration: none;
        color: black;
        .description{
            padding: 20px;
        }
        .nom{
            font-weight: bold;
        }
    }
    i{  
        color: black;
        &:hover{
            background-color: $couleur-secondaire;
        }
    }
     
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .description{
        display: flex;
        justify-content: space-between;
        note {
            text-align: center;
        }
    }
}



footer{
    background-color: $couleur_noire_claire;
    color: white;
    text-align:left;
    padding-bottom: 30px;
    margin-top: -20px;/*unwanted vertical margin between main section and footer*/
    div{
        padding-left: 30px;
    }
    h2{
        font-family: $font-titre, $font-defaut;
        padding-top: 20px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: white;
        i{
            width: 20px;
            font-size: smaller;
        }
    }
    li{
        padding-bottom: 10px;
    }
}


@media screen and (min-width: 992px){
    .fonctionnement{
        .etapes{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & :nth-child(1){
                .nombre{
                    position:absolute;
                    left: 15px;
                }
            }

            & :nth-child(2){
                .nombre{
                    position:absolute;
                    left: 250px;
                }
            }

            & :nth-child(3){
                .nombre{
                    position:absolute;
                    left: 500px;
                }
            }
        } 
    }
     
}