/* variable couleur*/
$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;
$couleur_grise : rgb(234,234,234);/*backgroung location sur la palette (234,234,234)*/
$couleur_grise_claire : rgb(246, 246, 246);/*backgroung recherche et restaurants sur la palette (246,246,246)*/
$couleur_noire_claire : rgb(53, 53, 53);/*backgroung Footer*/
$couleur_degrade : linear-gradient( $couleur-primaire, $couleur-secondaire);

/*rotation animation*/
@keyframes rotation { 
    0%{
    transform: rotate(0deg);
    }
    100%{
    
    transform: rotate(360deg);
    }
}

@keyframes replissage { 
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

$font-texte : Roboto;
$font-titre : Shrikhand;
$font-defaut : serif;

/* Font Roboto  */
*{
    font-family: $font-texte , $font-defaut;
}


header{
    h1{
        font-family: $font-titre, $font-defaut;
        display: flex;
        justify-content: space-between;
        i{
            padding-left: 30px;
            color: black;
        }
    }
}

img{
    width:100%;
    object-fit: cover;
    height: 300px;
    position: absolute;
    z-index: -1;
}

main{
    margin-top: +300px - 40px;
    padding: 30px;
    background-color: $couleur_grise;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    h2{
        font-family: $font-titre , $font-defaut;
        display: flex;
        justify-content: space-between;
        .coeur{
            //background-image: $couleur_degrade;
            ///background: $couleur_degrade;
            //color: linear-gradient( $couleur-primaire, $couleur-secondaire);
            //background-image: $couleur_degrade;
            
            &:hover{
                -webkit-text-stroke: 1px transparent;
                animation: replissage 1s ease-out;
                background: linear-gradient(#FF79DA, #9356DC);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
            }
            
        }
    }
    .ndpi-list{
        @media screen and (min-width: 992px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            a{
                width: 32%; 
            }
        }

        .ndpi{
            display: flex;
            /*padding: 10px;*/
            margin-bottom: 10px;
            background-color: $couleur_grise_claire;
            border-radius: 20px;
            justify-content: space-between;
            .ndp{
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .dp{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 5px;
                .detail{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space:nowrap;
                }

            }
            .nom{
                font-weight: bold;
            }
            .prix{
                font-weight: bold;
            }
            .choix{
                display: none;
                            
                i{
                    /*padding: 10px;*/
                    display: none;
                    width: 50px;
                    /*transform: rotate(0deg);
                    transition-property: transform;*/
                    /*transition-duration: 3000ms; */
                }

            }
               
            &:hover{
                
                .choix{
                    display: flex;
                    width: 50px;
                    align-content: center;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    font-weight: bolder;
                  
                
                    i{
                        animation-duration: 5s;
                        animation-name: rotation;

                        display: flex;
                        color: white;
                        background-color: $couleur-tertiaire;
                        height: 100%;
                        border-top-right-radius: 20px;        
                        border-bottom-right-radius: 20px; 
                        align-content: center;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        font-weight: bolder;
                        transform: rotate(0deg);
                        /*transform: rotate(90deg);*/                        

                    }
                }
        } 

    }
    }

    display: flex;
    flex-direction: column;

    a{
        text-decoration: none;
        color: black;        
    }

    i{
        color:#99E2D0;
    }

    .boutton{
        display: flex;
        justify-content: center;
        button{
            padding: 20px;
            border-radius: 40px;
            border: none;
            background: $couleur_degrade;
            opacity: 0.8;
            box-shadow: 10px 10px 10px gainsboro;
            color: white;
            &:hover{
                background : $couleur_degrade;
                opacity: 1;
            }
            width: 66%;
        }
    }

}








footer{
    background-color: $couleur_noire_claire;
    color: white;
    text-align:left;
    padding-bottom: 30px;
    margin-top: -20px;/*unwanted vertical margin between main section and footer*/
    div{
        padding-left: 30px;
    }
    h2{
        font-family: $font-titre, $font-defaut;
        padding-top: 20px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        @media screen and (min-width: 992px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 30px;
            
        }
    }
    a{
        text-decoration: none;
        color: white;
        i{
            width: 20px;
            font-size: smaller;
        }
    }
    li{
        padding-bottom: 10px;
    }
}


