/* variable couleur*/
$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;
$couleur_grise : rgb(234,234,234);/*backgroung location sur la palette (234,234,234)*/
$couleur_grise_claire : rgb(246, 246, 246);/*backgroung recherche et restaurants sur la palette (246,246,246)*/
$couleur_noire_claire : rgb(53, 53, 53);/*backgroung Footer*/
$couleur_degrade : linear-gradient( $couleur-primaire, $couleur-secondaire);

/*rotation animation*/
@keyframes rotation { 
    0%{
    transform: rotate(0deg);
    
    }
    100%{
    
    transform: rotate(360deg);
    }
}

@keyframes replissage { 
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

$font-texte : Roboto;
$font-titre : Shrikhand;
$font-defaut : serif;

/* Font Roboto  */
*{
    font-family: $font-texte , $font-defaut;
}


header{
    h1{
        font-family: $font-titre, $font-defaut;
        display: flex;
        justify-content: space-between;
        i{
            padding-left: 30px;
            color: black;
        }
    }
}

img{
    width:100%;
    object-fit: cover;
    height: 300px;
    position: absolute;
    z-index: -1;
}

main{
    margin-top: +300px - 40px;
    padding: 30px;
    background-color: $couleur_grise;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    h2{
        font-family: $font-titre , $font-defaut;
        display: flex;
        justify-content: space-between;
        .coeur{
            //background-image: $couleur_degrade;
            ///background: $couleur_degrade;
            //color: linear-gradient( $couleur-primaire, $couleur-secondaire);
            //background-image: $couleur_degrade;
            
            &:hover{
                -webkit-text-stroke: 1px transparent;
                animation: replissage 1s ease-out;
                background: linear-gradient(#FF79DA, #9356DC);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
            }
            
        }
    }

    //  inspiré de la réponse dans :
    //  https://stackoverflow.com/questions/23502675/css-underline-less-than-width-of-headline
    .souligne-part {
        display: inline-block;
        padding-bottom: 5px;
        position: relative;
    }
    .souligne-part:before{
        content: "";
        position: absolute;
        width: 50px;
        //height: 1px;
        bottom: 0;
        left: 0%;
        border-bottom: 3px solid $couleur-tertiaire;
    }


    .ndpi-list{
        @for $i from 1 through 10 {
            .__#{$i} {
                cursor: pointer;
                animation: apparition $i*0.5s;
                //animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
                animation-fill-mode: both;
                transform: scale(0);
                max-width: 100%;
            }
          }
          /*
        a{
            cursor: pointer;
            animation: itemAppear .6s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            transform: scale(0);
            max-width: 100%;
        }
        */

        /*  
        .apparition {
            &__1 {
                animation: apparition 3s;
                animation-fill-mode: forwards;
            }
            &__2 {
                animation: apparition 3s 300ms;
                animation-fill-mode: forwards;
            }
            &__3 {
                animation: apparition 3s 600ms;
                animation-fill-mode: forwards;
            }
            &__4 {
                animation: apparition 3s 900ms;
                animation-fill-mode: forwards;
            }
            &__5 {
                animation: apparition 3s 1200ms;
                animation-fill-mode: forwards;
            }
            &__6 {
                animation: apparition 3s 1500ms;
                animation-fill-mode: forwards;
            }
            &__7 {
                animation: apparition 3s 1800ms;
                animation-fill-mode: forwards;
            }
            &__8 {
                animation: apparition 3s 2100ms;
                animation-fill-mode: forwards;
            }
            &__9 {
                animation: apparition 3s 2400ms;
                animation-fill-mode: forwards;
            }
            &__10 {
                animation: apparition 3s 2700ms;
                animation-fill-mode: forwards;
            }
            opacity: 0;
            transform: translate(0, 20px);
            transition-delay: 2s;
        }
        */
        @keyframes apparition {
            from {
                opacity: 0;
                transform: translate(0, 20px);
            }

            50% {
                opacity: 1;
            }

            to {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

        @for $j from 1 through 10 {
            .__#{$j} {
              //animation-delay:  calc($i / 10.0)s;
              //-webkit-animation-delay:  $j*0.2s;
              animation-delay:  $j*0.2s;
            }
          }
        
        @media screen and (min-width: 992px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            a{
                width: 32%; 
            }
        }

        .ndpi{
            display: flex;
            /*padding: 10px;*/
            margin-bottom: 10px;
            background-color: $couleur_grise_claire;
            border-radius: 20px;
            justify-content: space-between;
            overflow: hidden; 
            .ndp{
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: hidden;
            }
            .dp{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 5px;
                //
                overflow: hidden;
                .detail{
                    //width: 80%; 
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space:nowrap;
                }

            }
            .nom{
                font-weight: bold;
            }
            .prix{
                font-weight: bold;
            }

            .choix{
                width: 0;
                overflow: hidden;
                align-content: center;
                align-items: center;
                text-align: center;
                justify-content: center;
                font-weight: bolder;
                border-top-right-radius: 20px;        
                border-bottom-right-radius: 20px; 
                background-color: $couleur-tertiaire;
                display: flex;
                transition: width 0.5s;

                i {
                    font-size: 25px;
                    display: flex;
                    color: white;
                    height: 100%;
                    align-content: center;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    font-weight: bolder;    
                }
            }
               
            &:hover{
                
                .choix{
                    width: 50px;

                    i {
                        animation-duration: 0.5s;
                        animation-name: rotation;
                    }
                }
        } 

    }
    }

    display: flex;
    flex-direction: column;

    a{
        text-decoration: none;
        color: black;        
    }

    i{
        color:#99E2D0;
    }

    .boutton{
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button{
            padding: 20px;
            border-radius: 40px;
            border: none;
            background: $couleur_degrade;
            opacity: 0.8;
            //box-shadow: 10px 10px 10px gainsboro;
            color: white;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);     
            transition: box-shadow 1s, opacity 1s;           
            //box-shadow: 10px 5px 5px $couleur_noire_claire;
            &:hover{
                box-shadow: 10px 5px 5px $couleur_noire_claire;
                background : $couleur_degrade;
                opacity: 1;
            }
            width: 66%;
        }
    }

}







footer{
    background-color: $couleur_noire_claire;
    color: white;
    text-align:left;
    padding-bottom: 30px;
    margin-top: -20px;/*unwanted vertical margin between main section and footer*/
    div{
        padding-left: 30px;
    }
    h2{
        font-family: $font-titre, $font-defaut;
        padding-top: 20px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        @media screen and (min-width: 992px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 30px;
            
        }
    }
    a{
        text-decoration: none;
        color: white;
        i{
            width: 20px;
            font-size: smaller;
        }
    }
    li{
        padding-bottom: 10px;
    }
}


