/* variable couleur*/
$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;

$font-texte : Roboto;
$font-titre : Shrikhand;
$font-defaut : serif;

/* Font Roboto  */
*{
    font-family: $font-texte , $font-defaut;
}



header{
    display: flex;
    align-items: center;
    h1{
        font-family: $font-titre, $font-defaut;
        text-align: center;
    }
}

img{
    width:100%
}

.entree, .plat, .dessert{
    display: flex;
}








footer{
    background-color: black;
    color: white;
    text-align:left;
    div{
        padding-left: 30px;
    }
    h2{
        font-family: $font-titre, $font-defaut;
        padding-top: 20px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: white;
    }
    li{
        padding-bottom: 10px;
    }
}


